{% extends '@App/base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-12">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Boeken</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Aantal boeken</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for author in authors %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_author_view', { author: author.id }) }}">{{- author.name -}}</a>
                                    </td>
                                    <td>
                                        {{- author.books | length -}}
                                    </td>
                                    <td>
                                        <button class="btn btn-primary">Aanpassen</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger">Verwijderen</button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">
                                        Geen
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}