{% extends '@App/base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 class="card-title">{{- employee.fullName -}}</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}